/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*! Roots */

/** Sizes */

/* Pixel */
:root {
    --p5: 5px;
    --p10: 10px;
    --p13: 13px;
    --p20: 20px;
    --p30: 30px;
    --p40: 40px;
    --p50: 50px;
    --p80: 80px;
    --p100: 100px;
    --p150: 150px;
    --p300: 300px;
    --p350: 350px;
    --p400: 400px;
    --p700: 700px;
    --p800: 800px;
    --p900: 900px;
    --p1200: 1200px;
}

/* Rem */
:root {
    --r08: .8rem;
    --r09: .9rem;
    --r1-5: 1.5rem;
    --r2: 2rem;
    --r2-5: 2.5rem;
    --r3: 3rem;
    --r5: 5rem;
}

/* Margin */
:root {
    --mauto: 0 auto;
    --ma10: 10px 0;
    --ma20: 20px 0;
    --ma40: 40px 0;
    --ma80: 80px 0;
    --ma150: 150px 0;
    --ma005: 0 5px;
    --ma020: 0 20px;
}

/* Generics */
body {
    font-family: 'Open Sans', sans-serif;
    padding-top: var(--p80);
}

h1 {
    font-size: var(--r5);
    font-weight: bold;
    margin-bottom: var(--p40);
}

h2 {
    font-size: var(--r2-5);
    font-weight: 500;
    margin-bottom: var(--p40);
}

h3 {
    margin-bottom: var(--p20);
    font-size: var(--r1-5);
}

h4 {
    font-size: var(--r09);
    margin-bottom: var(--p20);
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    display: block;
}

/* Utils */
.container {
    max-width: var(--p1200);
    margin: var(--mauto);
}

.container-small {
    max-width: var(--p900);
    margin: var(--mauto);
}

.flex {
    display: flex;
}

.flex.reverse {
    flex-direction: row-reverse;
}

.border {
    border: 1px solid gray;
}

.h-400 {
    max-height: var(--p400);
}

.gp40 {
    gap: var(--p40);
}

a.link {
    text-decoration: underline;
    color: #0061ff;
}

.pl50 {
    padding-left: var(--p50);
}

.m40 {
    margin: var(--ma40);
}

/** Colors */
.bc-gre {
    background-color: #a2d39b;
}

.bc-pur {
    background-color: #61082b;
}

.color-pur {
    color: #61082b;
}

.bc-li-bl {
    background-color: #0093ce;
}

.bc-red {
    background-color: #ff1c1c;
}

.bc-da-red {
    background-color: #d5001f;
}

.bc-bl {
    background-color: #0d2481;
}

.bc-ye {
    background-color: #ffd830;
}

/* Buttons */
a.btn-bl {
    background-color: #0061ff;
    color: #fff;
}

a.btn-wh {
    background-color: #fff;
    color: black;
}

a.btn-small {
    padding: 5px 10px;
}

a.btn-small.btn-bl {
    display: inline;
}

a.btn-big {
    padding: 10px 20px;
}

a.btn-small:hover,
a.btn-big:hover {
    box-shadow: 0 0 10px black;
}

a.btn-bl:hover {
    text-shadow: 0 0 10px #fff;
}

a.btn-wh:hover {
    text-shadow: 0 0 10px gray;
}

/*! Header */

/* Header nav */
.header-nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 1px 1px #dedede;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
}

.header-nav a {
    margin: var(--ma020);
    display: block;
}

.nav-left,
.nav-right {
    height: var(--p80);
    line-height: var(--p80);
}

.nav-left img {
    display: inline-block;
    vertical-align: text-bottom;
}

.nav-left li:hover,
.nav-right li:hover {
    border-bottom: 1px solid;
}

/* Header main */
.header-main {
    background-color: #b4d0e7;
    padding-top: var(--p80);
    margin-bottom: var(--p150);
}


.col-30 {
    flex-basis: 30%;
}

.col-70 {
    flex-basis: 70%;
}

/*? Main */
section {
    margin: var(--ma80);
}

/* Section business */
.check {
    height: var(--p20);
    width: var(--p20);
    border-radius: 50%;
    border: 1px solid gray;
    margin: var(--ma005);
    vertical-align: middle;
    display: inline-block;
}

.check.ok {
    border: 3px solid dodgerblue;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: var(--p40);
    margin-top: var(--p50);
}

.card {
    flex-basis: calc(100% / 3 - 80px / 3);
    flex-grow: 1;
}

.card-selection {
    text-align: center;
    height: var(--p40);
    border-bottom: 1px solid gray;
    line-height: var(--p40);
}

.card-selection i {
    margin: var(--ma005);
}

.card-container {
    padding: 0 20px;
    height: var(--p800);
}

.card-name {
    margin: var(--ma40);
}

.price {
    font-weight: bold;
    margin-bottom: var(--p10);
}

.card-name p {
    font-size: var(--r08);
}

.card-list {
    margin-bottom: var(--p40);
}

.card-list li {
    margin: var(--ma15);
    font-size: var(--r09);
    display: flex;
    align-items: baseline;
    gap: 5px;
    margin: 15px 0;
}

.card-actions a {
    display: inline-block;
}

.card-actions p {
    margin: var(--ma40);
    font-size: var(--r08);
}

.card-border {
    border-bottom: 1px solid gray;
    width: 30%;
    display: inline-block;
    margin-bottom: var(--p40);
}

.c-bl i {
    color: #0061ff;
}

.full-card-container {
    display: flex;
    justify-content: space-between;
    padding: var(--p20);
}

.full-card-row-70 {
    flex-basis: 70%;
}

.full-card-row-30 {
    flex-basis: 30%;
}

.full-card-row-30 a {
    display: inline-block;
}

.full-card-info {
    font-size: var(--p13);
    margin-top: var(--p40);
}


/* Section partner */
.col-40 {
    flex-basis: 40%;
}

.col-60 {
    flex-basis: 60%;
}

.col-40 h3 {
    margin-top: var(--p40);
}

.col-40 p {
    margin-bottom: var(--p20);
}

.col-40 a {
    display: inline-block;
    border: 1px solid;
}

.end-operations {
    margin: var(--ma150);
}


/* Section operations */
.end-operations h2 {
    font-weight: bold;
    font-size: var(--r3);
}

/* Section affiliated */
.affiliated {
    display: flex;
}

.affiliated-box {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.affiliated-box.bc-gray {
    background-color: #f5f5f5;
    flex-basis: calc(100% / 3);
}

.affiliated-center-container {
    padding: 0 40px;
    height: 100%;
}

.affiliated-card {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 20px solid transparent;
}

.affiliated-card:hover {
    border-color: rgba(255, 255, 255, 0.5);
}

.affiliated-card img {
    width: 50%;
    filter: invert(100%);
}

.center-logo img {
    height: var(--p80);
    margin: var(--ma40);
}

.affiliated-bottom-left {
    display: flex;
    align-items: center;
}

.affiliated-bottom-left h2 {
    font-size: var(--r2);
    font-weight: 600;
}

.affiliated-bottom-right a {
    line-height: var(--p300);
}

.bcc {
    background-color: #b4d0e7;
}

.affiliated-bottom-left,
.affiliated-bottom-right {
    height: var(--p300);
    flex-basis: calc(100% / 2);
}

.affiliated-bottom-right {
    text-align: center;
}


/* Section requests */
.col-requests {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--p100);
    border-bottom: 1px solid;
    font-weight: 500;
}

.col-requests h2 {
    font-weight: 600;
}

.answer {
    display: none;
}

.col-requests:hover .request {
    display: none;
}

.col-requests:hover .answer {
    display: contents;
}

.col-requests.sc:hover {
    scale: 1.2;
}

/** Footer */
footer {
    background-color: black;
    padding-top: var(--p40);
    padding-bottom: var(--p20);
}


/* Footer top */
.footer-top {
    padding-top: var(--p20);
}

.footer-top li {
    margin: var(--ma20);
}

.footer-top li a {
    color: #fff;
}

.footer-col-border {
    border-bottom: 1px solid #fff;
    width: 50%;
    display: inline-block;
    margin-top: var(--p80);
}

.footer-col {
    flex-basis: calc(100% / 5);
    color: #fff;
}

/* Footer bottom */
.lenguage {
    height: var(--p100);
    color: #fff;
}

.lenguage p {
    margin-top: var(--p30);
}