/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 80px;
}

a {
    color: black;
}

.container-xl {
    max-width: 1400px;
    margin: 0 auto;
}

.container-small {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.border {
    border: 2px dashed black;
}

ul {
    list-style-type: none;
}

a.btn-bl {
    background-color: #0061ff;
    color: #fff;
    padding: 5px 10px;
}

.contain.reverse {
    flex-direction: row-reverse;
}

/* Header */
.header-nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 1px 1px #dedede;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
}

.header-nav a {
    text-decoration: none;
    margin: 0 20px;
}

.nav-left,
.nav-right {
    height: 80px;
    align-items: center;
}

.header-main {
    background-color: #b4d0e7;
}

.title {
    height: 250px;
    background-color: yellowgreen;
}

.contain {
    display: flex;
}

.small-contain {
    flex-basis: 40%;
    background-color: pink;
}

.big-contain {
    flex-basis: 60%;
    height: 500px;
    background-color: orange;
}

/* Main */
section {
    margin: 80px 0;
}

.business-title {
    height: 200px;
    background-color: yellow;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card {
    height: 300px;
    flex-basis: calc(100% / 3);
    background-color: dodgerblue;
    border: 1px dashed crimson;
    flex-grow: 1;
}

.end-operations {
    height: 300px;
    background-color: purple;
}

.affiliated {
    display: flex;
}

.affiliated-nav {
    flex-basis: calc(100% / 3);
    height: 500px;
    background-color: palegoldenrod;
}

.affiliated-center {
    background-color: red;
    flex-basis: calc(100% / 3);
}

#affiliatted {
    background-color: #b4d0e7;
}

.left,
.right {
    height: 300px;
    flex-basis: calc(100% / 2);
    background-color: palevioletred;
}

.col-requests {
    height: 100px;
    background-color: fuchsia;
}

/* Footer */
footer {
    background-color: black;
    padding-top: 40px;
    padding-bottom: 20px;
}

.footer-col {
    flex-basis: calc(100% / 5);
    height: 500px;
    background-color: navajowhite;
}

.lenguage {
    height: 100px;
    background-color: salmon;
}