/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 80px;
}

h1 {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 40px;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 40px;
}

h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

h4 {
    font-size: 0.9rem;
    margin-bottom: 20px;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small {
    max-width: 900px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.border {
    border: 2px dashed black;
}

ul {
    list-style-type: none;
}

a.btn-bl {
    background-color: #0061ff;
    color: #fff;
}

.btn-wh {
    background-color: #fff;
    color: black;
    border: 1px solid;
}

a.btn-small {
    padding: 5px 10px;
}

a.btn-big {
    padding: 10px 20px;
}

.flex.reverse {
    flex-direction: row-reverse;
}

img {
    max-width: 100%;
    display: block;
}

.h-400 {
    max-height: 400px;
}

.gp40 {
    gap: 40px;
}

a.link {
    text-decoration: underline;
    color: #0061ff;
}

.pl50 {
    padding-left: 50px;
}

.m40 {
    margin: 40px 0;
}

.gre {
    background-color: #a2d39b;
}

.pur {
    background-color: #61082b;
}

.color-pur {
    color: #61082b;
}

.lbl {
    background-color: #0093ce;
}

.red {
    background-color: #ff1c1c;
}

.rd {
    background-color: #d5001f;
}

.bl {
    background-color: #0d2481;
}

.ye {
    background-color: #ffd830;
}

/* Header */
.header-nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 1px 1px #dedede;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
}

.header-nav a {
    margin: 0 20px;
}

.nav-left,
.nav-right {
    height: 80px;
    align-items: center;
}

.header-main {
    background-color: #b4d0e7;
    padding-top: 80px;
    margin-bottom: 150px;
}


.col-30 {
    flex-basis: 30%;
}

.col-70 {
    flex-basis: 70%;
}

.border {
    border: 1px solid gray;
}

/* Main */
section {
    margin: 80px 0;
}

.check {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid gray;
    margin: 0 5px;
    vertical-align: middle;
    display: inline-block;
}

.check.ok {
    border: 3px solid dodgerblue;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
    margin-top: 50px;
}

.card {
    flex-basis: calc(100% / 3 - 80px / 3);
    flex-grow: 1;
}

.card-selection {
    text-align: center;
    height: 40px;
    border-bottom: 1px solid gray;
    line-height: 40px;
}

.card-selection i {
    margin: 0 5px;
}

.card-container {
    padding: 0 20px;
    height: 800px;
}

.card-name {
    margin: 40px 0;
}

.price {
    font-weight: bold;
    margin-bottom: 10px;
}

.card-name p {
    font-size: .8rem;
}

.card-list {
    margin-bottom: 40px;
}

.card-list li {
    margin: 15px 0;
    font-size: 0.9rem;
}

.card-list i {
    margin-right: 5px;
}

.card-actions a {
    display: inline-block;
}

.card-actions p {
    margin: 40px 0;
    font-size: 0.8rem;
}

.card-border {
    border-bottom: 1px solid gray;
    width: 30%;
    display: inline-block;
    margin-bottom: 40px;
}

.card-info i {
    color: #0061ff;
    margin-right: 5px;
}

.card-info li {
    margin: 10px 0;
    font-size: 0.9rem;
}

.full-card-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.full-card-row-70 {
    flex-basis: 70%;
}

.full-card-row-30 {
    flex-basis: 30%;
}

.full-card-row-30 a {
    display: inline-block;
}

.full-card-info {
    font-size: 13px;
    margin-top: 40px;
}

.col-40 {
    flex-basis: 40%;
}

.col-60 {
    flex-basis: 60%;
}

.col-40 h3 {
    margin-top: 40px;
}

.col-40 p {
    margin-bottom: 20px;
}

.col-40 a {
    display: inline-block;
}

.end-operations {
    margin: 150px 0;
}

.end-operations h2 {
    font-weight: bold;
    font-size: 3rem;
}

.end-operations a {
    text-decoration: underline;
    color: #0061ff;
}

.affiliated {
    display: flex;
}

.affiliated-nav {
    flex-basis: calc(100% / 3);
    height: 700px;
}

.affiliated-center {
    background-color: #f5f5f5;
    flex-basis: calc(100% / 3);
}

.affiliated-center-container {
    padding: 0 40px;
    height: 100%;
}

.affiliated-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.affiliated-card {
    flex-basis: calc(100% / 2);
    height: 350px;
    color: #fff;
}

.affiliated-card img {
    scale: 0.5;
    position: relative;
    top: 50%;
    translate: 0 -50%;
    filter: invert(100%)
}

.uf img {
    scale: 0.8;
    translate: 20% -50%;
}

.center-logo img {
    height: 80px;
    margin: 40px 0;
}

.affiliated-bottom-left h2 {
    font-size: 2rem;
    font-weight: 600;
    position: relative;
    top: 50%;
    translate: 0 -50%;
}

.affiliated-bottom-right a {
    line-height: 300px;
}

.bcc {
    background-color: #b4d0e7;
}

.affiliated-bottom-left,
.affiliated-bottom-right {
    height: 300px;
    flex-basis: calc(100% / 2);
}

.affiliated-bottom-right {
    text-align: center;
}

.col-requests {
    height: 100px;
    border-bottom: 1px solid;
    line-height: 100px;
    font-weight: 500;
    position: relative;
}

.col-requests i {
    position: absolute;
    right: 0;
    top: 50%;
    translate: 0 -50%;
}

.col-requests h2 {
    font-weight: 600;
}

/* Footer */
footer {
    background-color: black;
    padding-top: 40px;
    padding-bottom: 20px;
}

.footer-top {
    padding-top: 20px;
}

.footer-top li {
    margin: 20px 0;
}

.footer-top li a {
    color: #fff;
}

.footer-col-border {
    border-bottom: 1px solid #fff;
    width: 50%;
    display: inline-block;
    margin-top: 80px;
}

.footer-col {
    flex-basis: calc(100% / 5);
    color: #fff;
}

.lenguage {
    height: 100px;
    color: #fff;
}

.lenguage p {
    margin-top: 30px;
}